In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [17]:
# Load the csv exported in Part I to a DataFrame
data_path = "../WeatherPy/Output/weather.csv"

weather_data = pd.read_csv(data_path)
weather_df=pd.DataFrame(weather_data)
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,woodward,36.4337,-99.3904,-6.00,93,90,3.60,US,1612685801
1,qaanaaq,77.4840,-69.3632,-11.76,89,100,0.25,GL,1612685801
2,kodiak,57.7900,-152.4072,-3.00,63,1,2.57,US,1612685802
3,victoria,22.2855,114.1577,22.78,61,0,0.45,HK,1612685585
4,nouadhibou,20.9310,-17.0347,15.00,77,0,8.75,MR,1612685802

In [ ]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Use the Lat and Lng as locations and Humidity as the weight
locations=weather_df[['Lat','Lng']]
humidity=weather_data['Humidity'].astype(float)

In [37]:
weather_df.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,5.520000e+02
mean,22.274404,16.628015,9.669674,71.630435,55.344203,3.752264,1.612686e+09
std,31.806001,88.127846,17.765159,21.318116,40.100070,2.956897,8.491564e+01
min,-54.800000,-175.200000,-42.220000,9.000000,0.000000,0.140000,1.612686e+09
25%,-3.956700,-64.512200,-1.027500,62.000000,13.750000,1.555000,1.612686e+09
50%,26.255100,19.883350,15.000000,77.000000,74.000000,3.085000,1.612686e+09
75%,47.772350,92.412525,24.302500,88.000000,96.000000,4.985000,1.612686e+09
max,78.218600,179.316700,36.000000,100.000000,100.000000,20.060000,1.612686e+09

In [9]:
# Plot heatmap
humidity_map=gmaps.figure()

# Add Heatmap layer to map and show figure
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,
                               dissipating=False,max_intensity=100,
                               point_radius=1)
humidity_map.add_layer(heat_layer)
humidity_map

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Narrow down cities to fit weather conditions
conditions_df=weather_df
conditions_df = conditions_df.loc[(conditions_df["Max Temp"] < 27) & (conditions_df["Max Temp"] > 21)]
conditions_df=conditions_df.loc[conditions_df['Wind Speed']<10]
conditions_df=conditions_df.loc[conditions_df['Cloudiness']==0]

# Drop all rows with null values
conditions_df=conditions_df.dropna()

# Reset index and display DataFrame
conditions_df.head()
# len(conditions_df)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,victoria,22.2855,114.1577,22.78,61,0,0.45,HK,1612685585
6,sihora,23.4833,80.1167,24.00,27,0,3.09,IN,1612685803
23,abu samrah,24.6000,72.7000,22.19,20,0,1.08,IN,1612685810
112,standerton,-26.9337,29.2415,24.77,49,0,1.78,ZA,1612685843
135,abu dhabi,24.6000,72.7000,22.19,20,0,1.08,IN,1612685852